*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
nav .links{
    list-style: none;
    display: flex;
    gap: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 15px;
    background-color: darkgoldenrod;
    color: rgb(65, 94, 94);
}
nav h1{
    font-size: xx-large;
}
nav a{
    text-decoration: none;
    color: aquamarine;
}
nav a:hover{
   color: #1313d4;
   padding: 10px;
}
nav img{
    height: 90px;
} 
main img{
    height: auto;
    width: 900px;
}
p{
    color: rgb(5, 15, 20);
    text-align: center;
    font-size: medium;

}
body{
    background: repeating-radial-gradient(goldenrod, blue, darkcyan);
    color: rgb(15, 25, 26);
    
}
h2{
    text-align: left;
    color: blueviolet;
    font-size: xx-large;
}
.container{
    display: flex;
    margin: 20px;
}
.house{
    padding: 1em;
    margin: 1em;
    width: 70%;
    height: 80%;
    text-align: center;
    justify-content: center;
    border-radius: 1em;
}
.house img{
    width: 100%;
    border-radius: 1em;
    height: 50vh;
}
footer{
    background-color: #0c1e80;
    color: #fff;
    margin-top: 10px;
}
.item{
    margin-left: 10px;   
}
.item h2{
    margin-top: 20px;
}
.skills{
    display: flex;
    gap: 40px;
}
.skills li{
    list-style: none;
}
.skills li a{
    color: #fff;
    text-decoration: none;
}
.skills li a:hover{
    font-weight: 900;
    color: #f1ecec;
}
#menu-toggle{
    display: none;
}
#hamburger-btn{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    order: 1;
}

/* Responsiveness */
@media (max-width:1023px){
    .navbar #menu-toggle:checked ~ .links{
        left: 0;
    }
    .navbar #hamburger-btn{
        display: block;
        margin-top: 0px;
        color: #fff;
        margin-right: 20px;
    }
    ul{
        text-align: center;
    }
    ul li{
        margin-bottom: 5px;
    }
    ul li a{
        padding: 5px, 10px;
    }
    /* h2{
        font-size: 50px;
    } */
    nav h1{
        font-size: 28px;
    }
    .links{
        position: fixed;
        left: -100%;
        top: 75px;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        background-color: #175d69;
        flex-direction: column;
        transition: 0.3s ease;
        text-align: center;
    }
    footer{
        margin-top: 0;
        width: 100%;
    }
}
@media (max-width:768px){
    li{
        display:inline-block;
        font-size: 50%;
    }
    nav h1{
        font-size: 0.9em;
    }
    .container .house img{
        width: 120px;
        height: 150px;
        margin-right: -2.8em;
    }
    body h2{
        text-align: center;
    }
    nav img{
        width: 30%;
        height: 50px;
        margin-left: -1em;
    }
}